<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lol">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="League&apos;o&apos;Matic"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityQuestion10"></activity>
        <activity
            android:name=".ActivityQuestion9"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityEnd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityResultat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityQuestion8"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityQuestion7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityQuestion6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityQuestion5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityQuestion4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityQuestion3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityQuestion2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityQuestion1"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".SoundService"
            android:enabled="true" />
    </application>

</manifest>